* {
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

#wrapper {
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  background-color: #eee; }

header {
  padding: 10pt;
  overflow: auto;
  width: 100%; }

#logo {
  font-size: 30pt;
  padding: 0.5em 0.5em;
  float: left; }

#search {
  float: right; }

nav {
  background-color: black;
  padding: 10pt; }
  nav ul {
    overflow: auto;
    width: 100%;
    list-style-type: none; }
    nav ul li {
      color: white;
      margin-right: 10pt;
      padding: 0 10pt;
      float: left;
      border: 1px dashed white; }

#content {
  padding: 2em;
  position: relative;
  overflow: auto;
  width: 100%; }

footer {
  width: 100%;
  padding: 10pt;
  text-align: center; }

#index #window-frame {
  overflow: hidden;
  width: 800px; }
  #index #window-frame #window-slider {
    width: 4000px; }
    #index #window-frame #window-slider .window-panel {
      width: 800px;
      float: left; }
#index #get-started-prompt {
  width: 480px;
  margin: 1em auto; }

#crops #filter-conditions {
  width: 200px;
  float: left;
  background: #fee; }
  #crops #filter-conditions ul {
    margin-left: 2em; }
#crops #crop-list-wrapper {
  margin-left: 220px; }
  #crops #crop-list-wrapper #active-filters {
    border: 1px dotted black; }
    #crops #crop-list-wrapper #active-filters li {
      float: left;
      margin-right: 2em; }
  #crops #crop-list-wrapper #crop-list {
    margin-top: 22px;
    background: #efe; }
    #crops #crop-list-wrapper #crop-list li {
      overflow: auto;
      width: 100%; }
      #crops #crop-list-wrapper #crop-list li img {
        float: right;
        height: 80px; }

.crop {
  border: 1px solid green; }
  .crop img {
    height: 100px;
    float: right; }

#types-of-space img {
  width: 80px; }

#getting-started {
  border: 2px dotted grey; }
