@charset "UTF-8";
@font-face {
  font-family: 'Comic Neue';
  src: url("../fonts/ComicNeue-Regular.woff") format("woff"), url("../fonts/ComicNeue-Regular.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }
* {
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

.wrapper {
  max-width: 900px;
  margin: 0 auto; }

header {
  background-color: #259433; }
  header .wrapper {
    padding-top: 60px; }
    header .wrapper #logo {
      padding: 20px;
      font-size: 38pt;
      font-family: "Comic Neue", serif; }
      header .wrapper #logo a {
        padding: 0.1em 0;
        text-decoration: none;
        color: #fefefe;
        transition: border 0.2s ease-in-out; }
      header .wrapper #logo a:hover {
        border-bottom: 4px solid #fefefe; }

nav {
  background-color: #c6f66f;
  font-family: helvetica, sans-serif;
  font-size: 14pt; }
  nav .wrapper ul {
    overflow: auto;
    width: 100%;
    list-style-type: none; }
    nav .wrapper ul a {
      color: #444444;
      text-decoration: none; }
      nav .wrapper ul a li {
        float: left;
        padding: 10px 20px;
        transition: background-color 0.2s ease-in-out; }
    nav .wrapper ul a:hover {
      color: black; }
      nav .wrapper ul a:hover li {
        background-color: #39e24d; }

footer {
  padding: 40px 0;
  background-color: #ddd;
  text-align: center; }

#index #window-frame {
  width: 500px;
  height: 300px;
  overflow: hidden;
  margin: 30px auto;
  position: relative;
  box-shadow: 0 0 4px 1px #aaa; }
  #index #window-frame #window-slider {
    width: 2500px;
    height: 300px;
    transition: margin-left 1s ease-in-out; }
    #index #window-frame #window-slider .window-panel {
      width: 500px;
      height: 300px;
      float: left;
      position: relative; }
      #index #window-frame #window-slider .window-panel .image {
        width: 500px;
        height: 300px; }
        #index #window-frame #window-slider .window-panel .image img {
          width: 500px;
          height: 300px; }
      #index #window-frame #window-slider .window-panel .panel-label {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 10px;
        max-width: 60%;
        background-color: rgba(255, 255, 255, 0.8);
        color: #000; }
        #index #window-frame #window-slider .window-panel .panel-label h5 {
          font-size: 16px; }
        #index #window-frame #window-slider .window-panel .panel-label p {
          font-size: 16px; }
  #index #window-frame #window-dots {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 5px;
    background-color: rgba(50, 50, 50, 0.6);
    border-radius: 10px; }
    #index #window-frame #window-dots .dot {
      width: 10px;
      height: 10px;
      margin: 1.66667px;
      float: left;
      border-width: 2px;
      border-style: solid;
      border-color: white;
      border-radius: 10px; }
    #index #window-frame #window-dots .dot.on {
      background-color: white; }
    #index #window-frame #window-dots .dot.off {
      background-color: none; }
#index #get-started-prompt {
  margin: 0 0 4em;
  text-align: center; }
  #index #get-started-prompt p.question {
    line-height: 140%;
    font-family: "Comic Neue";
    font-size: 24pt; }
  #index #get-started-prompt a {
    display: block;
    max-width: 200px;
    margin: 2em auto 2em;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
    font-size: 16pt;
    color: white;
    text-shadow: 1px 1px 1px #870047;
    border-radius: 5px;
    border-style: solid;
    background-color: #d0006e;
    border-color: #870047;
    border-width: 0 4px 4px 0; }
  #index #get-started-prompt a:hover {
    background-color: #e73a95;
    border-color: #9c2765; }
  #index #get-started-prompt a:active {
    background-color: #e73a95;
    border-bottom-color: #9c2765;
    border-right-color: #9c2765;
    border-width: 4px 0 0 4px; }

#gardening-tutorial h1, #crops h1, #climates h1, #types-of-space h1, #gardening-tools h1 {
  margin: 20pt 0;
  font-weight: lighter;
  font-size: 26pt;
  text-align: center; }

#crops {
  padding: 20px; }
  #crops #filter-conditions {
    width: 200px;
    float: left;
    background: #fee; }
    #crops #filter-conditions ul {
      margin-left: 2em; }
  #crops #crop-list-wrapper {
    margin-left: 220px; }
    #crops #crop-list-wrapper #active-filters {
      border: 1px dotted black; }
      #crops #crop-list-wrapper #active-filters li {
        float: left;
        margin-right: 2em; }
    #crops #crop-list-wrapper #crop-list {
      margin-top: 22px;
      background: #efe; }
      #crops #crop-list-wrapper #crop-list li {
        overflow: auto;
        width: 100%; }
        #crops #crop-list-wrapper #crop-list li img {
          float: right;
          height: 80px; }

.crop {
  border: 1px solid green; }
  .crop img {
    height: 100px;
    float: right; }

#gardening-tutorial, #types-of-space, #gardening-tools {
  padding: 20px; }
  #gardening-tutorial h2, #types-of-space h2, #gardening-tools h2 {
    font-weight: lighter;
    font-size: 20pt;
    margin: 20pt 0; }
  #gardening-tutorial p, #types-of-space p, #gardening-tools p {
    margin: 1.5em 40px; }

#climates {
  padding: 20px; }
  #climates h2 {
    font-weight: lighter;
    font-size: 20pt;
    margin: 20pt 0; }
  #climates p {
    margin: 1.5em 40px; }

#getting-started {
  margin: 20px; }
  #getting-started h1 {
    font-family: "Comic Neue", sans-serif;
    font-size: 30pt;
    font-weight: lighter;
    text-align: center;
    margin: 20px; }
  #getting-started .card {
    padding: 10px;
    border-radius: 5px;
    background-color: #eee;
    box-shadow: 1px 1px 2px 1px #888; }
    #getting-started .card h2 {
      margin: 1em 1em;
      font-family: Helvetica, sans-serif;
      font-size: 16pt;
      font-weight: normal; }
    #getting-started .card .options {
      position: relative;
      overflow: auto;
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row; }
      #getting-started .card .options .option {
        flex-grow: 1;
        margin: 15px;
        padding: 1em;
        background-color: #fff; }

#got-started {
  border: 2px dotted gray; }
