$light-green-1 : #98ED00;
$light-green-2 : #82B22C;
$light-green-3 : #639A00;
$light-green-4 : #B4F63D;
$light-green-5 : #C6F66F;

$dark-green-1 : #00C618;
$dark-green-2 : #259433;
$dark-green-3 : #008110;
$dark-green-4 : #39E24D;
$dark-green-5 : #66E275;

$yellow-1 : #F7FE00;
$yellow-2 : #BBBE30;
$yellow-3 : #A1A500;
$yellow-4 : #F9FE40;
$yellow-5 : #FBFE72;

$magenta-1 : #D0006E;
$magenta-2 : #9C2765;
$magenta-3 : #870047;
$magenta-4 : #E73A95;
$magenta-5 : #E768AB;

$full-width : 900px;
$default-padding : 20px;
$hover-transition : 0.2s;
$content-padding: 20px;

@font-face {
  font-family: 'Comic Neue';
  src: url('../fonts/ComicNeue-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../fonts/ComicNeue-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.wrapper {
    max-width: $full-width;
    margin: 0 auto;
}

@mixin listicle() {
    padding: $content-padding;

    h2 {
        font-weight: lighter;
        font-size: 20pt;
        margin: 20pt 0;
    }

    p {
        margin: 1.5em 40px;
    }
}

a {
    text-decoration: none;
    color: $dark-green-3;
}

a:hover {
    text-decoration: underline;
}

a.button {
    display: block;
    max-width: 200px;
    margin: 2em auto 2em;
    padding: 1em;
    font-size: 16pt;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px $magenta-3;
    border-radius: 5px;
    border-style: solid;

    background-color: $magenta-1;
    border-color: $magenta-3;
    border-width: 0 4px 4px 0;
}

a.button:hover {
    background-color: $magenta-4;
    border-color: $magenta-2;
}

a.button:active {
    background-color   : $magenta-4;
    border-bottom-color: $magenta-2;
    border-right-color : $magenta-2;
    border-width: 4px 0 0 4px;
}

// -------------------------------------
//
// Site-wide styles - used in _layout/base.html
//
// -------------------------------------

header {
    background-color: $dark-green-2;
    $header-color: #fefefe;

    .wrapper {
        padding-top: 60px;
    
        #logo {
            padding: $default-padding;
            font-size: 38pt;
            font-family: "Comic Neue", serif;

            a {
                padding: 0.1em 0;
                text-decoration: none;
                color: $header-color;
                transition: border $hover-transition ease-in-out; // property duration easing delay
            }

            a:hover {
                border-bottom: 4px solid $header-color;
            }
        }
    }
}

nav {
    background-color: $light-green-5;
    $hover-background-color: $dark-green-4;
    $text-color: #444;
    $text-color-hover: black;
    font-family: helvetica, sans-serif;
    font-size: 14pt;

    .wrapper {

        ul {
            overflow: auto;
            width: 100%;
            list-style-type: none;

            a {
                color: $text-color;
                text-decoration: none;

                li {
                    float: left;
                    padding: ($default-padding / 2) ($default-padding);
                    transition: background-color $hover-transition ease-in-out;
                }
            }

            a:hover {
                color: $text-color-hover;

                li {
                    background-color: $hover-background-color;
                }
            }
        }
    }
}

footer {
    padding: 40px 0;
    background-color: #ddd;
    text-align: center;
}  

// -------------------------------------
//
// For the "index" page:
//
// -------------------------------------
#index {
    $image-width : 500px;
    $slide-height : 300px;
    $slide-padding : 30px;

    #window-frame {
        width: $image-width;
        height: $slide-height;// + $slide-padding * 2;
        overflow: hidden;
        margin: $slide-padding auto;
        position: relative;
        box-shadow: 0 0 4px 1px #aaa;

        #window-slider {
            width: 5 * $image-width;
            height: $slide-height;// + $slide-padding * 2;
            transition: margin-left 1s ease-in-out;

            .window-panel {
                width: $image-width;
                height: $slide-height;
                float: left;
                position: relative;

                .image {
                    width: $image-width;
                    height: $slide-height;

                    img {
                        width: $image-width;
                        height: $slide-height;
                    }
                }
                
                .panel-label {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    padding: 10px;
                    max-width: 60%;
                    background-color: rgba(255, 255, 255, 0.8);
                    color: #000;

                    h5 {
                        font-size: 16px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }

            .window-panel:hover {
                
                .panel-label {
                    //box-shadow: 0 2px 2px 2px $yellow-1;
                }
            }
        }

        #window-dots {
            $dr : 5px;  // dot radius
            $dsolid : #fff;

            position: absolute;
            right: $dr;
            bottom: $dr;
            padding: $dr;
            background-color: rgba(50, 50, 50, 0.6);
            border-radius: 10px;

            .dot {
                width: 2 * $dr;
                height: 2 * $dr;
                margin: $dr / 3;
                float: left;
                border-width: 2px;
                border-style: solid;
                border-color: $dsolid;
                border-radius: 10px;
            }

            .dot.on {
                background-color: $dsolid;
            }

            .dot.off {
                background-color: none;
            }
        }
    }

    #get-started-prompt {
        margin: 0 0 4em;
        text-align: center;

        p.question {
            line-height: 140%;
            font-family: "Comic Neue";
            font-size: 24pt;
        }
    }
}

// -------------------------------------
//
// The common parts of:
//   - gardening tutorial
//   - types of space
//   - gardening tools
//   - climates page
//
// -------------------------------------

#gardening-tutorial, #crops, #climates, #types-of-space, #gardening-tools {

    h1 {
        margin: 10px 0 20px;
        font-weight: lighter;
        font-size: 26pt;
        text-align: center;
    }
}

// -------------------------------------
//
//   - gardening tutorial
//   - types of space
//   - gardening tools
//
// -------------------------------------
#gardening-tutorial, #types-of-space, #gardening-tools {
    @include listicle();
    $small-image-height : 80px;
}

// -------------------------------------
//
// For the "climates" page
//
// -------------------------------------
#climates {
    @include listicle();

}

// -------------------------------------
//
// For the list-of-crops page:
//
// -------------------------------------
#crops {
    $small-image-height : 100px;
    padding: 20px;

    ul {
        list-style-type: none; 
    }

    #crops-content {
        $filters-area-color : none;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: top;

        ul#filter-conditions {
            flex: 1;
            max-width: 200px;
            padding: 1em;
            background: $filters-area-color;

            > li {
                padding-bottom: 1em;
                border-right: 4px solid #ddd;

                p {
                    font-size: 16pt;
                }

                ul {
                    margin-left: 1em;

                    > li {
                        margin: 0.2em 0;

                        input[type='checkbox'] {
                        }
                    }
                }
            }
        }

        #crop-list-wrapper {
            flex: 1;

            #active-filters {
                background-color: $filters-area-color;
                padding: 0.5em;
                border-bottom: 4px solid #ddd;
                
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    
                    li {
                        margin-right: 2em;
                    }
                }
            }

            #crop-list {
                padding: 1em;

                li {
                    margin-bottom: 2em;

                    > div {
                        display: flex;
                        margin-top: 0.5em;

                        > div {
                            flex: 1;
                            margin-left: 2em;
                            margin-right: 1em;
                        }

                        img {
                            height: $small-image-height;
                        }
                    }
                }
            }
        }
    }
}

// -------------------------------------
//
// For the specific-crop pages
//
// -------------------------------------
.crop {
    $large-image-height : 200px;

    position: relative;
    overflow: auto;
    padding: 20px;

    h1 {
        font-family: serif;
        margin: 0.5em 0;
    }

    img {
        float: right;
        height: $large-image-height;
        margin: 20px;
        box-shadow: 0 0 2px 2px #eee;
    }

    h2 {
        font-weight: lighter;
        margin: 1em 0 1em;
    }

    p {
        padding-left: 2em;
    }
}

// -------------------------------------
//
// For the "getting started" page
//
// -------------------------------------
#getting-started {
    $p : 30px;
    margin: $p; 

    h1 {
        font-family: "Comic Neue", sans-serif;
        font-size: 30pt;
        font-weight: lighter;
        text-align: center;
        margin: $p;
    }

    .card {
        margin: $p 0 (2 * $p);
        padding: 10px;
        border-radius: 5px;
        background-color: #eee;
        box-shadow: 1px 1px 2px 1px #888;

        h2 {
            margin: 1em;
            font-family: "Comic Neue", sans-serif;
            font-size: 22pt;
            font-weight: lighter;
        }

        .options {
            position: relative;
            overflow: auto;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;

            .option {
                $m : 15px;

                flex-grow: 1;
                margin: $m;
                padding: $m;
                border: 4px solid white;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #fff;
                box-shadow: 2px 2px 2px 0px #aaa;

                p {
                    text-align: center;
                    font-family: helvetica, verdana, sans-serif;
                    font-size: 16pt;
                    margin: 0 auto $m;
                }

                img {
                    width: 100%;
                }
            }

            .option:hover, .option.on {
                border: 4px solid $magenta-1;
            }

        }
    }

    .card.off {
        opacity: 0.2;
    }

    a {
        margin: (2 * $p) auto;
    }
}

// -------------------------------------
//
// For the "got started" page
//
// -------------------------------------
#got-started {
    //background-color: rgba(100, 255, 100, 0.1);
    padding: $content-padding;

    h1 {
        font-family: "Comic Neue", sans-serif;
        font-weight: lighter;
        font-size: 28pt;
        margin: 0.5em 0 1em;
    }

    ul {
        font-size: 16pt;
        list-style-type: none;

        li {
            padding-bottom: 1em;
            a {
                font-size: 20pt;
            }
            p {
                padding-left: 2em;
            }
        }
    }

    a {
        margin: 14pt auto;
        font-size: 14pt;
    }
}
