* {
    margin: 0;
    padding: 0;
}

$full-width : 800px;
$min-width : 480px;
$padding : 10pt;

#wrapper {
    max-width: $full-width;
    min-width: $min-width;
    margin: 0 auto;
    background-color: #eee;
} 

header {
    padding: $padding;
}

#logo {
    font-size: 30pt;
    padding: 0.5em 0.5em;
    float: left;
}

#search {
    float: right;
}

.clear {
    clear: both;
}

nav {
    background-color: black;
    padding: $padding;
    ul {
        list-style-type: none;
        li {
            color: white;
            margin-right: $padding;
            padding: 0 $padding;
            float: left;
            border: 1px dashed white;
        }
    }
}

footer {
    width: 100%;
    padding: $padding;
    text-align: center;
}  
