<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ page.go_to_root }}css/base.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <div id="logo">
                <a href="{{ page.go_to_root }}index.html">
                    Gardens By Design
                </a>
            </div>
            <div id="search">
                <form action="search.html" method="POST">
                    <input type="text" hint="Search..."></input>
                </form>
            </div>
        </header>
        <nav>
            <ul>
                <a href="{{ page.go_to_root }}gardening-tutorial.html"><li>Gardening Tutorial</li></a>
                <a href="{{ page.go_to_root }}crops.html"><li>Crops</li></a>
                <a href="{{ page.go_to_root }}climates.html"><li>Climates</li></a>
                <a href="{{ page.go_to_root }}types-of-space.html"><li>Types of Space</li></a>
                <a href="{{ page.go_to_root }}gardening-tools.html"><li>Gardening Tools</li></a>
            </ul>
        </nav>
        <div id="content">

{{ content }}

        </div>
        <footer>
            Footer here.
        </footer>
    </div>
</body>
</html>
