<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/base.css" />
</head>
<body>
    <div id="wrapper">
        <header>
            <div id="logo">Gardens By Design</div>
            <div id="search">
                <form action="search.html" method="POST">
                    <input type="text" />
                </form>
            </div>
            <div class="clear" />
        </header>
        <nav>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <div class="clear" />
            </ul>
        </nav>
        <div id="content">
            Content goes here.
        </div>
        <footer>
            Footer here.
        </footer>
    </div>
</body>
</html>
